<html lang="pt">
    <head>
        <title>Costa do Castelo</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>window.onscroll = function() {
            var nav = document.getElementById('navbar');
            var scrollPosition = window.scrollY || document.documentElement.scrollTop;
        
            if (scrollPosition > 0) {
                nav.classList.add('fixed');
            } else {
                nav.classList.remove('fixed');
            }
        };</script>
        
    </head>
    <body>        
    {% block topPage %}
    {% endblock %}
        
    {% block midPage %}
    {% endblock %}

    {% block botPage %}
    {% endblock %}
    </body>
    
    <footer>
        <div>
            Horário
            <hr><br>
            <p>Qui - Sáb </p>
            <p>22h - 4h</p>
        </div>
        <div>
            Visit Us
            <hr><br>
            <p>Tv. do Castelo nº 87</p>
            <p>Leça da Palmeira, Matosinhos</p>
            <p>Porto, Portugal</p>
        </div>
        <div>
            Follow Us
            <hr><br>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>WhatsApp</p>
        </div>
    </footer>
</html>