<html lang="pt">
    <head>
        <title>Costa do Castelo</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>window.onscroll = function() {
            var nav = document.getElementById('navbar');
            var scrollPosition = window.scrollY || document.documentElement.scrollTop;
        
            if (scrollPosition > 0) {
                nav.classList.add('sticky');
            } else {
                nav.classList.remove('sticky');
            }
        };</script>
        
    </head>
    <body>
        <nav id="navbar" class="navbar">
            <label><a href="">Home</a></label>
            <label><a href="#topMidPage">Reservations</a></label>
            <label><a href="#botMidPage">Perfil</a></label>
            <label><a href="#local">Location</a></label>
            <label><a href="#about">About</a></label>
            
        </nav>
        <article id="topPage">
            {% block topPage %}
            {% endblock %}
        </article>

        <article id="topMidPage">
            {% block topMidPage %}
            {% endblock %}
        </article>

        <article id="botMidPage">
            {% block botMidPage %}
            {% endblock %}
        </article>

        <article id="botPage">
            {% block botPage %}
            {% endblock %}
        </article>
    </body>
    <footer>
        <div>
            Horário
            <hr><br>
            <p>Qui - Sáb </p>
            <p>22h - 4h</p>
        </div>
        <div>
            Visit Us
            <hr><br>
            <p>Tv. do Castelo nº 87</p>
            <p>Leça da Palmeira, Matosinhos</p>
            <p>Porto, Portugal</p>
        </div>
        <div>
            Follow Us
            <hr><br>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>WhatsApp</p>
        </div>
    </footer>
</html>