<html lang="pt">
    <head>
        <title>Costa do Castelo</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav id="navbar" class="navbar">
            <label><a href="">Home</a></label>
            <label><a href="#topMidPage">Reservations</a></label>
            <label><a href="#botMidPage">Carta</a></label>
            <label><a href="#local">Location</a></label>
            <label><a href="#about">About</a></label>
            
        </nav>
        <article id="topPage">
            {% block topPage %}
            {% endblock %}
        </article>

        <article id="topMidPage">
            {% block topMidPage %}
            {% endblock %}
        </article>

        <article id="about">
            {% block botPage %}
            {% endblock %}
        </article>
        <script>window.onscroll = function() {
            var nav = document.getElementById('navbar');
            var scrollPosition = window.scrollY || document.documentElement.scrollTop;
        
            if (scrollPosition > 0) {
                nav.classList.add('sticky');
            } else {
                nav.classList.remove('sticky');
            }
        };</script>
    </body>
    <footer>
        
    </footer>
</html>