{% extends 'main/base.html' %}

{% block topPage %}
<img class="topPic" src="static/images/picture.jpg" alt="mainPic">
{% endblock %}

{% block midPage %}
<h1>this is mid page</h1>
{% endblock %}

{% block botPage %}
<h1>this is bot page</h1>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
{% endblock %}