{% extends 'main/base.html' %}
{% load static %}


{% block topPage %}

<article id="topPage">
    <nav class="navbar" id="navbar">
        <label><a href="#topPage">Home</a></label>
        <label><a href="#midPage">Reservations</a></label>
        <label><a href="#botPage">Menu</a></label>
        <label><a href="#botPage">Location</a></label>
        <label><a href="#footer">About</a></label>    
    </nav>   
    <h1>Slogan goes here</h1>
</article>
{% endblock %}



{% block midPage %}
<article id="midPage">
    <br>
    <h2>Welcome to Costa do Castelo</h2>
    <br><br>
    <h3 style="padding-left: 10px;">Discover the perfect blend of ambiance and flavor at our trendy bar. </h3>
    <h3>Indulge in expertly crafted cocktails, unwind in a stylish atmosphere, and savor the night </h3>
    <h3>with friends. Elevate your nightlife experience with us 🍸 where every drink is a celebration!</h3>
    <h3>Your Friends are already here!</h3>
    <br><br>
    <hr><br>
    <a id="reserva" href="">Make a Reservation</a>
    <br><hr id="bottomHr">
</article>
{% endblock %}



{% block botPage %}
<article id="botPage">
    <div id="foodBtn">Foods</div>
    <div id="drinkBtn">Drinks</div>
</article>
{% endblock %}