{% extends 'main/base.html' %}

{% block topPage %}
<img class="topPic" src="static/images/picture.jpg" alt="mainPic">
<h1>Welcome to Costa do Castelo</h1>
{% endblock %}

{% block midPage %}
<br>
<h2>Your Friends are already here!</h2>
{% endblock %}

{% block botPage %}
<h1>this is bot page</h1>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
{% endblock %}