@font-face {
    font-family: 'RobinsonBold';
    src: url('/static/fonts/RobinsonBold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobinsonMedium';
    src: url('/static/fonts/RobinsonMedium.ttf') format('truetype');
}

body{
    color: #FFF;
    margin: 0;
    font-family: "RobinsonBold";
    background-color: rgb(255, 240, 213);
    
}
h1{
    font-size: 80px;
    font-family: inherit;
}
.topPic{
    position:absolute;
    top: 2;
    width: 100%;
    height: auto;
    z-index: -1;
}
#topPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 240px;
}
#midPage{
    position: relative;
    padding-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{    
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    font-size: 28px;
    font-weight: bold;
    position: sticky;
    top: 75;
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;;
}
.navbar a{
    text-decoration: none;
    color: inherit;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    transition: 0.3s ease-in-out; /* Adding a smooth transition effect */}

.navbar a:hover{
    font-size: 32px;
    color:pink;}

.navbar.sticky{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    font-size: 28px;
    font-weight: bold;
    top: 0;
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;;
    background-color: rgba(129, 129, 129, 0.8);}

.navbar.sticky a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
    transition: 0.3s ease-in-out; /* Adding a smooth transition effect */}

.navbar.sticky a:hover{
    font-size: 32px;
    color:pink;}


